version: '3.9'
services:
  cgclient:
    build:
      context: ./mw_cgclient
      dockerfile: dockerfile
    ports:
      - "2222:22" #ssh
    volumes:
      - ./registro:/app/registro
    image: cgclient:last

  cgserver:
    build:
      context: ./mw_cgserver
      dockerfile: dockerfile
    ports:
      - "2224:22" #ssh
      - "8888:8888" #cliente/servidor
    volumes:
      - ./registro:/app/registro
    image: cgserver:last

  ddosclient:
    build:
      context: ./mw_ddosclient
      dockerfile: dockerfile
    ports:
      - "2226:22" #ssh
    volumes:
      - ./registro:/app/registro
    image: ddosclient:last

  ddosserver:
    build:
      context: ./mw_ddosserver
      dockerfile: dockerfile
    ports:
      - "2228:22" #ssh
      - "4433:4433" #hping3
      - "8080:8080" #nginx
      - "53:53/udp" #bind9 (DNS)
    volumes:
      - ./registro:/app/registro
    image: ddosserver:last
  

  