version: '3.9'
services:
  cgclient:
    build:
      context: ./mw_cgclient
      dockerfile: dockerfile
    ports:
      - "2222:22"
    # volumes:
    #   - ./app:/home/cognet
    image: cgclient:last

  cgserver:
    build:
      context: ./mw_cgserver
      dockerfile: dockerfile
    ports:
      - "2224:22"
      - "8888:8888"
    image: cgserver:last

  ddosclient:
    build:
      context: ./mw_ddosclient
      dockerfile: dockerfile
    ports:
      - "2226:22"
    image: ddosclient:last

  ddosserver:
    build:
      context: ./mw_ddosserver
      dockerfile: dockerfile
    ports:
      - "2228:22"
      - "4433:4433"
    image: ddosserver:last
  

  